{{ $image := .Page.Resources.GetMatch (printf "%s" (.Destination | safeURL)) }}
{{ if $image }}
{{ $small := $image.Resize "650x webp q99 Lanczos" }}
{{ $medium := $image.Resize "975x webp q99 Lanczos" }}
{{ $big := $image.Resize "1350x  webp q95 Lanczos" }}
{{ $alt := .PlainText | safeHTML }}
{{ $caption := "" }}
{{ with .Title }}
  {{ $caption = . | safeHTML }}
{{ end }}

<figure>
    <img
      sizes="(min-width: 400px) 10em, 90vw"
      srcset="{{ $small.RelPermalink }} 650x, {{ $medium.RelPermalink }} 975x, {{ $big.RelPermalink }} 1350x"
      width="{{ $image.Width }}"
      alt="{{ if $alt }}{{ $alt }}{{ else if $caption }}{{ $caption | markdownify | plainify }}{{ else }}&nbsp;{{ end }}"
      >
    {{ with $caption }}
    <figcaption>{{ . | markdownify }}</figcaption>
    {{ end }}
</figure>
{{ end }}