{{ define "main" }}

{{ range .Sections.Reverse }}
  <h4>
    <div>
      <time 
        style="float: left"
        datetime='{{ .Date.Format "2006-01-02" }}'
        pubdate
      >
        {{ .Date | time.Format ":date_long" }}
      </time>
      <a style="float: right; font-weight: normal;" href="{{ .Permalink }}">Link</a>
    </div>
  </h4>
  <div style="clear: both;"></div>
  <h2>{{ .Title }}</h2>
  {{ .Content }}
  </div>
{{ else }}
  Keine Publikationen bis jetzt.
</li>
{{ end }}

{{ end }}
