{{ define "main" }}

{{ range .Sections.Reverse }}
  <h2>{{ .Title }}</h2>
  <ul>
    {{ range .RegularPagesRecursive.Reverse }}
    <li class="pub">
      <span class="type">{{ .Params.type }} — </span>
      <span class="title">{{ .Title }};</span>
      <span class="authors">{{ .Params.authors }};</span>
      <br>
      <span class="citations">{{ .Params.citations }} cite(s) on crossref;</span>
      <a href="{{ .Params.link }}">{{ .Params.link }}</a></li>
    {{ end }}
  </ul>
{{ else }}
  Keine Publikationen bis jetzt.
{{ end }}

{{ end }}


